In [1]:
print('Hello, World')

Hello, World

In [ ]:
x = 1 
print (type( x ))

y = 5.35 
print (type ( y ))

z = 4 + 3j
print(z)

<class 'int'>
<class 'float'>
(4+3j)

In [8]:
first_name = 'John'
last_name = 'Doe'
full_name = first_name + " " + last_name
full_name2 = f"{first_name} {last_name}"
print(full_name)
print(type(first_name))
print(full_name2)

John Doe
<class 'str'>
John Doe

In [11]:
is_student = True
print(type(is_student))

<class 'bool'>

In [12]:
my_list = ["Jane Smith", "John Smith", "Bob James", "Food Wars"]
print(my_list)

['Jane Smith', 'John Smith', 'Bob James', 'Food Wars']

In [14]:
my_tuple = ("Jane Smith", "John Smith", "Bob James", "Food Wars")
print(my_tuple)
print(type(my_tuple))

('Jane Smith', 'John Smith', 'Bob James', 'Food Wars')
<class 'tuple'>

In [15]:
my_range = range(50)
print(list(my_range))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

In [ ]:
my_dict = {
    'name': 'Jonte Bones',
}

print(my_dict)

{'name': 'Jonte Bones'}

In [12]:
import math

a = 10 
b = 3

print (a-b)
print (a + b)
print (a * b) 
print (a / b)

print(math.sqrt(64))
print(math.pi)
print(math.floor(3.141592653589793))
print(math.ceil(3.0))
print(math.pow(3, 3))
print(math.sqrt(2).__round__(2))
print(round(3.141592653589793, 3))

7
13
30
3.3333333333333335
8.0
3.141592653589793
3
3
27.0
1.41
3.142

In [20]:
num1 = float(input('enter first number: '))
num2 = float(input('enter second number: '))

sum = num1 + num2 
print(sum)

3.0

In [40]:
first_name = input('Enter First Name: ')
second_name = input('Enter Second Name: ')
age = int(input('Enter Your Age: '))

full_name = first_name + " " + second_name


print(full_name)
print(age)

bob billy
12

In [27]:
name = ['John', 'Bob']

x = name.index('John')

print(x)

0

In [38]:
str1 = "pyThon" 

print(str1.upper())
print(str1.lower())
print(str1.upper())
print(str1.title())
print(str1.swapcase())

str2 = '12ab'
str3 = " "
print(str2.isalnum())
print(str2.isalpha())
print(str3.isspace())

colors = 'red, green, blue, red'.split(",")
joined = ' '.join(colors)
print(joined)

PYTHON
python
PYTHON
Python
PYtHON
True
False
True
red  green  blue  red

In [45]:
s = 'Hello There, \nHow Are you'
print(s)

Hello There,
How Are you

In [54]:
hours = float(input("How many hours do you work in a day?: "))
rate = float(input("Whats the rate of pay hourly?: "))

salary_day = hours * rate
salary_week = salary_day * 5 
salary_month = salary_week * 4 
salary_year = salary_month * 12 

print(f'You will earn ${salary_day} daily. \nYou will earn ${salary_week} weekly. \nYou will earn ${salary_month} monthly. \nYou will earn ${salary_year} yearly. ')

You will earn $120.0 daily.
You will earn $600.0 weekly.
You will earn $2400.0 monthly.
You will earn $28800.0 yearly.

In [58]:
width = float(input("Enter Width"))
height = float(input("Enter Height"))

print(width // 2, type(width // 2))
print(width / 2.0, type(width / 2.0))
print(height / 3, type(height / 3))
print(1 + 2 * 5, type(1 + 2 * 5))

6.0 <class 'float'>
6.0 <class 'float'>
5.0 <class 'float'>
11 <class 'int'>

In [ ]:
celsius = float(input("Enter temperature in Celsius: "))

fahrenheit = (celsius * 9/5) + 32

print(f"The temperature in Fahrenheit is {fahrenheit}°F")

The temperature in Fahrenheit is 77.0°F

In [60]:
age = 8
if age >= 18:
    print("you are an adult")
else: 
    print("Diddy Would want you")

Diddy Would want you

In [61]:
password = ''
while password != 'pass123':
    password = input("Enter Your Password: ")
print("Access Granted")

Access Granted

Hello, DECLAN RICE
Hello, guest

In [ ]:
# def add(num1, num2):
#     return num1 + num2

# sum = add(3, 1)
# print(sum)

4